@use '../../../scss/variables';
@use '../../../scss/mixins';

.check-in-button {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: none;
  outline: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  border-radius: variables.$border-rad-bttn;

  &:hover {
    cursor: pointer;

    &::after {
      @include mixins.transperentBackg(black, 0.1, variables.$border-rad-bttn)
    } 
  }

  &_size_super-small {
    padding-left: 34px;
    background-color: variables.$background-bttn-orange;
    width: 122px;
  }

  &_size_small {
    padding-left: 30px;
    background-color: variables.$background-bttn-and-popup-elems-white;
    width: 206px;
  }

  &_size_medium {
    padding-left: 58px;
    background-color: variables.$background-bttn-orange;
    width: 240px;

    @include mixins.for-tablet-up {
      width: 274px;
      padding-left: 75px;
    }

    @include mixins.for-desktop-up {
      width: 230px;
      padding-left: 51px;
    }
  }

  &_size_large {
    padding-left: 49px;
    background-color: variables.$background-bttn-orange;
    width: 240px;

    @include mixins.for-desktop-up {
      width: 206px;
      padding-left: 30px;
    }
  }

  &_size_super-large {
    padding-left: 47px;
    background-color: variables.$background-bttn-orange;
    width: 260px;

    @include mixins.for-tablet-up {
      width: 230px;
    }
  }

  &__text {
    @include mixins.text(variables.$font-family-lato, variables.$fz-button-text, variables.$font-weight-medium, variables.$text-color-white);

    &_fz_medium {
      font-size: variables.$fz-button-text2;
    }

    &_color_base {
      color: variables.$text-color-base;
    }
  }

  &__paw-icon {
    width: 36px;
    height: 36px;

    &_type_orange {
      --color-1: #ff7236;
      --color-2: #fffefd;
    }

    &_type_white {
      --color-1: #fffefd;
      --color-2: #ff7236;
    }
  }
}


