@use '../../../scss/variables';
@use '../../../scss/mixins';

.social-media {

  &__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    @include mixins.text(variables.$font-family-lato, variables.$fz-card-text-m, variables.$font-weight-bold, variables.$text-color-base);

    &_place_sidebar {
      display: none;
    }
  }
  
  &__icons {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__icon {
    display: inline-block;
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }
}