@use '../../../scss/variables';
@use '../../../scss/mixins';

.filter-bttn {
  width: 111px;
  background: variables.$filter-bttn-backg;
  padding: 5px 15px;

  border: none;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px;

  &_type_sort {
    width: 154px;
  }

  &_show {
    border-radius: 0;
  }

  &__sort-container {
    position: relative;
  }

  &__dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-top: 19px;
    padding-left: 15px;
    padding-bottom: 12px;
    top: 27px;
    list-style: none;
    background: variables.$filter-bttn-backg;
    box-sizing: border-box;

    &_show {
      display: block;
    }
  }

  &__dropdown-item {
     margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &_arrow_drop::before {
        // сделать миксин из стрелок
      display: inline-block;
      margin-right: 4px;
      width: 7px;
      height: 10px;
      content: '';
      background-image: url('../blocks/rooms-page/filter-bttn/images/arrow.svg');
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }

    &_arrow_grow::before {
      display: inline-block;
      margin-right: 4px;
      width: 7px;
      height: 10px;
      content: '';
      background-image: url('../blocks/rooms-page/filter-bttn/images/arrow.svg');
      background-repeat: no-repeat;
    }
  }

  &__text {
    font-family:'LatoWebMedium', Arial, Helvetica, sans-serif;
    color: variables.$base-text-color;
    font-size: 14px;

    &_img_filter::before {
      display: inline-block;
      margin-right: 10px;
      width: 12px;
      height: 15px;
      vertical-align: middle;
      content: '';
      background-image: url('../blocks/rooms-page/filter-bttn/images/filter.svg');
      background-repeat: no-repeat;
    }

    &_img_sort {
      font-family: 'LatoWeb', Arial, Helvetica, sans-serif;
      width: 124px;
      text-align: left;
    }

    &_img_sort::before {
      display: inline-block;
      margin-right: 4px;
      width: 7px;
      height: 10px;
      content: '';
      background-image: url('../blocks/rooms-page/filter-bttn/images/arrow.svg');
      background-repeat: no-repeat;
    }

    &_img_sort::after {
      display: inline-block;
      width: 14px;
      height: 8px;
      margin-left: 16px;
      content: '';
      vertical-align: middle;


      background-image: url('../blocks/rooms-page/filter-bttn/images/arrow-wide.svg');
      background-repeat: no-repeat;
    }
  }
}
