@use '../../../scss/variables';
@use '../../../scss/mixins';

.header {
  padding-top: 12px;
  padding-bottom: 12px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixins.centerBlock(variables.$mobile-width);

    @include mixins.for-tablet-up() {
      @include mixins.centerBlock(variables.$tablet-width);
    }

    @include mixins.for-desktop-up {
      @include mixins.centerBlock(variables.$desktop-width);
    }
  }

}