@use '../../../scss/mixins';
@use '../../../scss/variables';

.benefit-card {
  min-width: 290px;
  padding: 25px;
  border-radius: variables.$border-rad-card;
  background-color: #fff;
  box-sizing: border-box;

  @include mixins.for-tablet-up {
    min-width: 250px;
  }

  @include mixins.for-desktop-up {
    min-width: 238px;
  }

  &__img {
    margin-bottom: 30px;

    @include mixins.for-tablet-up {
      width: 75px;
      height: 75px;
    }
    @include mixins.for-desktop-up {
      width: 91px;
      height: 91px;
    }
  }

  &__title {
    @include mixins.text(variables.$font-family-rubik, variables.$fz-card-title-s, variables.$font-weight-medium, variables.$text-color-base);
    margin-top: 0;
    margin-bottom: 20px;

    @include mixins.for-tablet-up {
      font-size: variables.$fz-card-title-m;
    }

    @include mixins.for-desktop-up {
      font-size: variables.$fz-card-title-m-desktop-up;
    }
  }

  &__text {
    @include mixins.text(variables.$font-family-lato, variables.$fz-card-text-m, variables.$font-weight-regular, variables.$text-color-base);
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 0;

    @include mixins.for-desktop-up {
      font-size: variables.$fz-card-text-m-desktop-up;
    }
  }
}