@use '../../../scss/mixins';
@use '../../../scss/variables';

.filter-menu {
  display: none;
  position: absolute;
  
  top: 0px;
  left: 0px;
  padding-top: 97px;
  width: 100%;
  height: 1601px;
  background: rgba(255, 254, 253, 0.8);
  backdrop-filter: blur(8px);
  z-index: 99;

  @include mixins.for-desktop-up {
    display: block;
    position: relative;
    padding: 0;
    background: none;
    backdrop-filter: none;
    z-index: 0;
    width: auto;
    height: auto;
  }

  &_show {
    display: block;
  }

  &__close-icon-container {
    display: flex;
    width: calc(100% - 25px);
    justify-content: flex-end;

    @include mixins.for-desktop-up {
      display: none;
    }
  }

  &__form-container{
    @include mixins.centerBlock(variables.$mobile-width);
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: variables.$background-bttn-and-popup-elems-white;
    border-radius: variables.$border-rad-popup;
    box-sizing: border-box;

    @include mixins.for-tablet-up {
      width: 332px;
    }

    @include mixins.for-desktop-up {
      width: 210px;
      margin: 0;
      padding: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    @include mixins.centerBlock(240px)
  }

  &__title {
    @include mixins.text(variables.$font-family-lato, variables.$fz-filter-popup-title, variables.$font-weight-medium, variables.$text-color-base);
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0 0 30px 0;

    &:last-child {
      margin: 0 0 35px 0;
    }
  }

  &__fieldset-contanier {
    display: flex;

    &_type_row {
      width: 212px;
      justify-content: space-between;
    }

    &_type_column {
      flex-direction: column;
    }
  }

  &__price-input {
    display: block;
    width: 99px;
    height: 36px;
    border: 1px solid #E1E1E1;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;

    @include mixins.for-desktop-up {
      padding-left: 5px;
      padding-right: 5px;
      height: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #E1E1E1;
    margin: 0 10px 0 0;
  }

  &__label {
    @include mixins.text(variables.$font-family-lato, variables.$fz-filter-popup-text, variables.$font-weight-regular, variables.$text-color-base);
  }

  &__bttn-container {
    display: flex;
    flex-direction: column;
    @include mixins.centerBlock(240px)
  }
}