@use '../../../scss/mixins';
@use '../../../scss/variables';

.menu {
  margin-bottom: 40px;

  &_media_tablet-up {
    display: none;

    @include mixins.for-tablet-up {
      display: block;
      margin-bottom: 0;
    }
  }

  &_place_footer {
    margin-bottom: 30px;

    @include mixins.for-tablet-up {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    min-height: 131px;
    margin: 0;
    padding-left: 0;
    
    &_direction_columns {
      flex-wrap: wrap;
      min-height: 0;
      height: 44px;
      @include mixins.for-tablet-up {
        flex-wrap: nowrap;
        height: auto;
      }
    }

    &_direction_row {
      @include mixins.for-tablet-up {
        flex-direction: row;
        min-height: 0;
      }

    }
  }

  &__item {
    @include mixins.text(variables.$font-family-rubik, variables.$fz-menu-m, variables.$font-weight-medium, variables.$text-color-base);

    &_direction_columns {
      @include mixins.text(variables.$font-family-lato, variables.$fz-menu-s, variables.$font-weight-medium, variables.$text-color-base);
      width: auto;
    }

    &_direction_row {
      @include mixins.text(variables.$font-family-lato, variables.$fz-menu-s, variables.$font-weight-regular, variables.$text-color-base);
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  

}