@use '../../../scss/variables';
@use '../../../scss/mixins';

.title-page {
  padding-top: 50px;
  padding-bottom: 231px;
  background-image: url(../blocks/main/title-page/images/kitten.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include mixins.for-tablet-up {
    padding-top: 130px;
    padding-bottom: 530px;
    background-image: url(../blocks/main/title-page/images/mask-tablet.png), url(../blocks/main/title-page/images/kitten-tablet.jpg);
  }

  @include mixins.for-desktop-up  {
    padding-top: 153px;
    padding-bottom: 153px;
    background-image: url(../blocks/main/title-page/images/kitten-desktop.jpg);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86.5%;
    margin-right: auto;
    margin-left: auto;

    @include mixins.for-tablet-up {
      width: 45.5%;
    }

    @include mixins.for-desktop-up  {
     align-items: flex-start;
     width: 346px;
     margin-left: 198px;
     margin-right: 0;
    }
  }

  &__city {
    @include mixins.text(variables.$font-family-lato, variables.$fz-subtitle-up, variables.$font-weight-regular, variables.$text-color-base);
    margin-top: 0;
    margin-bottom: 12px;

    @include mixins.for-tablet-up {
      font-size: variables.$fz-subtitle-up-tablet-up;
      margin-bottom: 15px;
    }
  }

  &__title {
    @include mixins.text(variables.$font-family-rubik, variables.$fz-title, variables.$font-weight-bold, variables.$text-color-base);
    margin-top: 0;
    margin-bottom: 22px;

    @include mixins.for-tablet-up {
      font-size: variables.$fz-title-tablet-up;
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    @include mixins.text(variables.$font-family-lato, variables.$fz-subtitle-down, variables.$font-weight-medium, variables.$text-color-base);
    margin-top: 0;
    margin-bottom: 40px;

    @include mixins.for-tablet-up {
      font-size: variables.$fz-subtitle-down-tablet-up;
      margin-bottom: 40px;
    }
  }
}


