@use '../../../scss/variables';
@use '../../../scss/mixins';

.location {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: variables.$block-backg2;

  &__container {
    @include mixins.centerBlock(variables.$mobile-width);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 40px;

    font-family: 'RubikBold', Arial, Helvetica, sans-serif;
    font-size: 28px;
  }

  &__item-container {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'LatoWebBold', Arial, Helvetica, sans-serif;
    font-size: variables.$card-text-fz;
  }
  
  &__info {
    font-family: "LatoWeb", Arial, Helvetica, sans-serif;
    font-size: variables.$card-text-fz;
  }

}