@use '../../../scss/mixins';
@use '../../../scss/variables';

.popup-send {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url('../blocks/common-blocks/popup-send/images/paw.svg');
  background-repeat: no-repeat;
  background-position: -8px calc(100% + 9px) ;

  @include mixins.centerBlock(variables.$mobile-width);
  background-color: variables.$background-bttn-and-popup-elems-white;

  padding-top: 20px;
  padding-bottom: 60px;
  border-radius: variables.$border-rad-popup;
  box-sizing: border-box;

  @include mixins.for-tablet-up {
    width: 502px;
    padding-top: 25px;
    padding-bottom: 43px;
  }

  &__close-icon-container {
    display: flex;
    width: calc(100% - 25px);
    justify-content: flex-end;
  }

  &_show {
    display: block;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;

    @include mixins.text(variables.$font-family-rubik, variables.$fz-booking-popup-title, variables.$font-weight-bold, variables.$text-color-base);
  }

  &__text {
    display: block;
    margin-bottom: 35px;
    
    @include mixins.centerBlock(154px);
    @include mixins.text(variables.$font-family-lato, variables.$fz-booking-popup-title, variables.$font-weight-bold, variables.$text-color-base);
  }

  &__bttn-container {
    @include mixins.centerBlock(122px);
  }
}