@use '../../../scss/mixins';
@use '../../../scss/variables';

.form-bttn {
  width: 240px;
  height: 42px;
  border-radius: variables.$border-rad-bttn;
  margin-bottom: 15px;

  @include mixins.for-desktop-up {
    width: 185px;
  }

  &:last-child {
    margin-bottom: 0;
  }
  
  &_type_fill {
    background-color: variables.$background-form-bttn;
    border: none;

    @include mixins.for-desktop-up {
      display: none;
    }
  }

  &_type_empty {
    background-color: #FFFEFD;
    border: 2px solid variables.$background-form-bttn;
  }

}