@use '../../../scss/variables';

.place {
  position: relative;
  background-color: variables.$block-backg2;
  &__map {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 300px;
  }

  &__point {
    position: absolute;
    top: calc(50% - 39.5px);
    left: calc(50% - 28.5px);
  }
}