@use '../../../scss/variables';
@use '../../../scss/mixins';

.sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  width: 320px;
  height: 519px;
  padding-top: 12px;
  background-color: variables.$background-color-yellow;
  transition: right 1s ease-out;
  z-index: 2;

  &_animated {
    right: 0;
  }

  &__container {
    @include mixins.centerBlock(variables.$mobile-width);
  }

  &__tel {
    display: block;
    @include mixins.text(variables.$font-family-rubik, variables.$fz-menu-s, variables.$font-weight-regular, variables.$text-color-base);
    margin-bottom: 25px;
  }
}