.page-container {
  position: relative;
  display: flex;

  min-width: 320px;
  max-width: 1500px;
  min-height: 519px;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}
