@use '../../../scss/variables';
@use '../../../scss/mixins';

.footer {
  padding-top: 30px;

  &__menu-contanier {
    @include mixins.centerBlock(variables.$mobile-width);

    @include mixins.for-tablet-up {
      @include mixins.centerBlock(variables.$tablet-width);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
    }
  }

  &__text {
    display: block;
    
    @include mixins.text(variables.$font-family-lato, variables.$fz-footer-text, variables.$font-weight-regular, variables.$text-color-gray);
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mixins.for-tablet-up {
      margin-bottom: 0;
    }
  }

  &__copyright {
    padding-top: 15px;
    padding-bottom: 30px;
    border-top: 1px solid;
    border-color: variables.$border-color;

    @include mixins.for-tablet-up {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__copyright-container {
    @include mixins.centerBlock(variables.$mobile-width);

    @include mixins.for-tablet-up {
      @include mixins.centerBlock(variables.$tablet-width);

      display: flex;
      justify-content: space-between;
    }
  }
}